.selection-container {
    background-color: rgb(241, 241, 241);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    height: 25rem;
    width: 25rem;
    margin-top: 1rem;
    border: 1px solid #618aba;
}

.search-button {
    position: absolute;
    margin-top: 1rem;
    margin-left: auto;
}


.sliding-div {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}